
.head {
    height: 48px;
    border-bottom: 1px solid rgb(11, 11, 12);
    display: flex;
    background-color: #f5f5f5;
}

.add, .delete {
    display: flex;
    margin: 0px 10px;
    cursor: pointer;
}

.column-header:nth-last-child(1){
    display:none;
}

.neutral {
    display: none;
}

.add p, .delete p {
    margin-top: 5px;
}

.downarrow {
    width: 20px;
}

.deicon, .plicon {
    width: 16px;
    height: 36px;
    margin-right:8px;
}

.cat {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    margin: 0px 60px;
}
.mid {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    margin-right: 100px;
}

.tab1{
    width:800px !important;
}
fluent-data-grid-cell {
    font-weight: bold !important;
}