@page "/"
  <div class="fully">
        <div class="sidebar">
            <a href="/"><p>Home</p></a>
            <a href="/table"><p>Table</p></a>
            <a href="/categories"><p>Categories</p></a>
        </div>
        <div class="full1">
            <div class="body ">
                <div class="full">
                <div class="header">
                    <div>
                    <img class="logo" src="image/logo.png" alt="watercooler logo" />
                    </div>
                    <div class="head-right">
                    <p class="name">Welcome <strong> Manikandan</strong></p>
                    <p class="signout">Not You? <strong>Signout</strong></p>
                    </div>
                </div>
                <div class="content1" >
                    <strong
                    >We’re convinced you deserve a 15-minute break, all it takes is two
                    easy steps:
                    </strong>
                    <p class="p" >Pick your passions and choose how often you’d like to meet.</p>
                    <p class="p"> We’llschedule your break and send you a link to a Teams meeting withcollegues who share your interests.</p>
                    <p class="p"> Choose three passions from thefollowing options!</p>
                   
                </div>
                <div class="box">
                    <div class="top5">
                        <div class="row31" >
                            <p class="head-1">BlockChain</p>
                            <div>
                                <input class="inp1" type="checkbox" /><label>Crypto Currencies</label>
                            </div>
                            <div>
                                <input class="inp1" type="checkbox" /><label>NFT</label>
                            </div>
                        </div>
                        <div class="fin">
                            <p class="head-1">Finance</p>
                            <div>
                            <input class="inp1" type="checkbox" /><label>401K</label>
                            </div>
                            <div>
                            <input class="inp1" type="checkbox" /><label>Stocks</label>
                            </div>
                        </div>
                        <div class="ren">
                            <p class="head-1">Renewable Energy</p>
                            <div>
                            <input class="inp1" type="checkbox" /><label>Wind</label>
                            </div>
                            <div>
                            <input class="inp1" type="checkbox" /><label>Solar</label>
                            </div>
                        </div>
                    </div>
                    <div class="freq">
                        <p class="how" >How often would you like to meet</p>
                        <div class="radio">
                            <div class="rad">
                                <input type="radio"  /><label>Daily</label>
                            </div>
                            <div class="rad">
                                <input type="radio" /><label>Weekly</label>
                            </div>
                            <div class="rad">
                                <input type="radio" /><label>Monthly</label>
                            </div>
                            <div class="rad">
                                <input type="radio" /><label>Unsubscribed</label>
                            </div>
                        </div>
                    </div>
                    <div class="hours">
                        <p class="work">Your working hours</p>
                        <div class="hour2">
                            <div class="hour21">
                                <p class="la">From</p>
                                <select class="from" type="select" >
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                                </select>
                            </div>
                            <div class="hour21">
                                <p class="la">To</p>
                                <select class="from" type="select" >
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                                </select>
                            </div>
                            <div class="hour21">
                                <p class="la">Your Preferred Timezone</p>
                                <select class="from" type="select" >
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="btm">
                        <button class="btn bk">Back</button>
                        <button class="btn up">Update</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>


<style>
    a{
        text-decoration:none;
        color:black;
    }
    body {
        padding: 0px;
        margin: 0px;
        border: 0px;
    }

    .body {
        padding: 0px;
        margin: 0px 40px;
        border: 1px solid black;
        width: 816px;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        width: 150px;
        margin: 80px 0px 40px 65px;
    }

    .full1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 125px;
    }

    .sidebar p {
        margin: 10px;
        font-size: larger;
        cursor:pointer;
    }

    .fully {
        /* justify-content: center;
        align-items: center; */
        display: flex;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid black;
        line-height: 20px;
    }

    .name {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        margin: 0px;
    }

    .logo {
        margin: 20px 0px 10px 40px;
        width: 200px;
    }

    .head-right {
        margin: 20px 35px 0px 0px;
    }

    .content1 {
        /* border: 1px solid black; */

        margin: 30px 30px 0px 30px;
        padding: 10px 10px 2px 10px;
        background-color: #E0E0E0;
        /* display: flex; */
        /* flex-direction: column; */
        /* align-items: center; */
        /* justify-content: center; */
    }

    .signout {
        float: right;
        color: blue;
        margin: 5px 0px;
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
    }

    .p {
        margin: 2px;
    }

    .box {
        background-color: #F5F5F5;
        margin: 24px 30px 30px 30px;
        padding-bottom: 20px;
    }

    .top5 {
        height: 133px;
        border-bottom: 1px solid #E0E0E0;
        margin: 0px 30px 0px 30px;
        display: flex;
    }

    .freq {
        /* height: 112px; */
        border-bottom: 1px solid #E0E0E0;
        margin: 0px 30px;
        margin-bottom: 24px;
        padding-bottom: 24px;
    }

    .head-1 {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
    }

    .how {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
    }

    .rad {
        margin: 0px 30px 0px 0px;
    }

    .row31 {
        margin: 0px 25px 0px 0px;
    }

    .inp1 {
        margin-bottom: 14px;
    }

    .fin {
        margin-left: 40px;
    }

    .ren {
        margin-left: 90px;
    }

    .radio {
        display: flex;
    }

    .from {
        width: 208px;
        height: 32px;
        border: none;
    }

    .hour2 {
        display: flex;
    }

    .hours {
        margin: 0px 30px;
    }

    .hour21 {
        margin: 0 20px 0px 0px;
    }

    .btm {
        float: right;
        margin-top: 35px;
        margin-bottom: 20px;
    }

    .btn {
        width: 80px;
        line-height: 25px;
        border: 1px solid;
        border-radius: 2px;
        background-color: white;
    }

    .up {
        background-color: #5B5FC7;
        color: white;
    }

    label {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
    }

    .work {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        margin-top: 24px;
        margin: 24px 0 0 0;
    }

    .la {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
    }
</style>